<form method="POST" action="/articles">
 <label for="title">Enter A title: </label>
 <input type="text" name="title">
 <br>
 <label for="content">Enter Content:</label>
 <input type="text" name="content">
 <br>
 <input type="submit" value="submit">
</form>